<div style="margin-top:5%; text-align: center;">
  <h1> Farmer List  </h1>
</div>

  <div class="container">
     <div class="row" >

       <div class="col-md-6">
           <table class="table table-striped">
               <thead>
                <th> Name  </th>
                <th> Location  </th>
                <th> Message </th>
                <th> Edit  </th>
                <th> Delete  </th>
               </thead>
                <tbody>

                <% @farmers.each do |farmer| %>
                <% if @farmers.count > 0 %>
                <tr>
                  <td>  <%= farmer.name %> </td>
                  <td>  <%= farmer.farm_location %></td>
                  <td>
                    <button
                     id="message-farmer"
                     class="btn btn-success message-farmer"
                     farmer  = "<%= farmer.to_json%>"
                     
                    >Message</button>
                  </td>
                  <td><button class="btn btn-primary">Edit</button></td>
                  <td><button class="btn btn-danger"> Delete</button></td>
                </tr>
                <% else %>
                  <h1>No Farmers Yet</h1>
                <% end %>
                <% end %>

              </tbody>
            </table>
        </div>

        <div class="col-md-6">
           <div class="col-md-4">
           </div>
           <div id="message-box" class="col-md-8 hide">
             <br /><br /><br />
             <input type="text" class="form-control"></input><br /><br />
             <textarea id="textarea-message" class="form-control"></textarea><br />
             <button class="btn btn-primary"> confirm Message</button>
          </div>
        </div>

      </div>



   </div>
